<div class="container">
  <div class="e395-1 x-section">
    <div class="e395-2 x-container">
      <div class="x-bg" aria-hidden="true"></div>
      <div class="e395-3 x-column x-sm x-1-4">
        <div class="e395-4 x-text x-text-headline" id="ApprFairComp">
          <div class="x-text-content">
            <div class="x-text-content-text">
              <h1 class="x-text-content-text-primary"><strong>L’alternance </strong><br>
              <br>
              Éstiam fait la différence</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bgwhite">
    <div class="e395-5 x-column x-sm x-3-4">
      <div class="e395-6 x-text x-text-headline">
        <div class="x-text-content">
          <div class="x-text-content-text">
            <h2 class="x-text-content-text-primary">À Éstiam, l’alternance peut commencer dès la 3 <sup>e</sup> année</h2>
          </div>
        </div>
      </div>
      
      <div class="e395-7 x-text">
        <p><span style="color: #0099e6;"><strong>4 jours par semaine en entreprise.</strong></span> Ce rythme d’alternance est particulièrement adapté aux contraintes des managers et permet à nos étudiants de mieux s’intégrer.<br>
        Contrat d'apprentissage, contrat de professionnalisation ou convention de stage : tous les choix sont offerts aux entreprises.</p>
        <p><span style="color: #0099e6;"><strong>Les cours technologiques.</strong></span> Choisies en accord avec les membres de notre Conseil d’orientation scientifique et stratégique, et&nbsp;avec nos entreprises partenaires, les&nbsp;technologies auxquelles nos étudiants sont formés sont celles qui sont les plus demandées par les entreprises.</p>
        <p><span style="color: #0099e6;"><strong>Les cours Métiers.</strong></span> Seule Éstiam adapte son contenu pédagogique en fonction des secteurs d’activité des entreprises d’accueil de ses étudiants en alternance. Pouvoir expliquer en entretien d’embauche à un DRH d’une entreprise du secteur de la Finance que les cours à l’école comprennent des formations aux métiers de la finance, la&nbsp;Blockchain, le&nbsp;bitcoin, les&nbsp;nouveaux systèmes de paiements, les&nbsp;plateformes de trading, les données de&nbsp;marchés…</p>
        <p>L'alternance informatique avec l'ESTIAM!</p>
        <p><strong>Voilà un atout certain pour être&nbsp;recruté.</strong></p>
      </div>
    </div>
  <div class="e395-8 x-section">
    <div class="e395-9 x-container">
      <div class="x-bg" aria-hidden="true"></div>
      <div class="e395-10 x-column x-sm x-1-1">
        <div class="e395-11 x-text">
          Ainsi grâce à leur formation à&nbsp;Éstiam nos étudiants sont rapidement efficaces en&nbsp;entreprise. De&nbsp;même, leur&nbsp;activité en&nbsp;entreprise les rend meilleurs à&nbsp;l’école.
        </div>
      </div>
    </div>
  </div>
</div>
</div>
  <div class="bgblue">
    <div class="container">
      <div class="e395-12 x-section">
        <div class="listediv x-container">
          <div class="x-bg" aria-hidden="true"></div>
          <div class="e395-14 x-column x-sm x-1-4">
            <div class="e395-15 x-text x-text-headline">
              <div class="x-text-content">
                <div class="x-text-content-text">
                  <h2 class="x-text-content-text-primary">Emploi, stage, alternance…</h2>
                </div>
              </div>
            </div>
            <div class="e395-16 x-text">
              une aide active de&nbsp;l’école à la recherche d’entreprises
            </div>
          </div>
        </div>
      </div>
      <div class="e395-17 x-column x-sm x-3-4">
        <div class="e395-18 x-text">
          <p>Éstiam accompagne ses étudiants dans leur recherche d’une entreprise qui les accueillera pour un stage, une&nbsp;alternance, un&nbsp;emploi :</p>
          <ul type="square">
            <li>Recherche et sélection des postes en alternance à proposer à nos&nbsp;étudiants</li>
            <li>Refonte de leur&nbsp;CV</li>
            <li>Mise en relation avec les entreprises partenaires de&nbsp;l’école</li>
            <li>Coaching sur la stratégie de&nbsp;recherche</li>
            <li>Entrainement aux entretiens de&nbsp;recrutement</li>
            <li>Réactivité et disponibilité dans le suivi administratif jusqu’à <strong>la signature du&nbsp;contrat.</strong></li>
          </ul>
        </div>
        <hr class="e395-19 x-line">
        <a class="e395-20 x-anchor x-anchor-button" tabindex="0" href="/offres">
        <div class="x-anchor-content">
          <div class="x-anchor-text">
            <span class="x-anchor-text-primary" data-x-single-anim="x-scale-down">Voir les annonces de nos entreprises partenaires&nbsp;›</span>
          </div>
        </div></a>
      </div>
    </div>
  </div>
  <div class="bgblue2">
  <div class="container">
  <div class="e395-21 x-section">
    <div class="e395-22 x-container">
      <div class="x-bg" aria-hidden="true"></div>
      <div class="e395-23 x-column x-sm x-1-2">
        <img alt="Image" src="https://www.estiam.education/wp-content/uploads/2021/07/Mamadou-Sanou-Ba.png" class="imgeleve img-fluid" data-ll-status="loaded"></div>
      <div class="e395-25 x-column x-sm x-1-2">
        <div class="e395-26 x-text">
          <p style="color: white;"><span style="color: #ffee00;"><strong>Un statut différent.</strong></span><br>
          J’ai&nbsp;le statut de salarié de mon entreprise (congés payés…) et je conserve mes avantages d’étudiant (réductions transport, cinéma…).</p>
          <p style="color: white;"><span style="color: #ffee00;"><strong>Acteur total.</strong></span><br>
          Dans l’entreprise j’ai un tuteur qui est là pour me guider et m’épauler. J’accède à une expérience professionnelle significative, avec&nbsp;des missions à&nbsp;responsabilités.</p>
          <p style="color: white;"><span style="color: #ffee00;"><strong>Des avantages financiers.</strong></span><br>
          Ma&nbsp;scolarité est prise en charge à 100 <sup>%</sup> par mon entreprise d’accueil, et je reçois en plus un salaire mensuel (minimum 70 <sup>%</sup> du SMIC soit 1.077€ pour les plus de&nbsp;21&nbsp;ans).</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="container bgwhite">
  <div class="e395-27 x-section">
    <div class="e395-28 x-container">
      <div class="x-bg" aria-hidden="true"></div>
      <div class="e395-29 x-column x-sm x-1-1">
        <img class="img-fluid" alt="Image" src="https://www.estiam.education/wp-content/uploads/2021/07/3c1cf4a2-d1dc-4533-9698-44aa7d86dc61.png" width="255">
        <div class="e395-31 x-text x-text-headline">
          <div class="x-text-content">
            <div class="x-text-content-text">
              <h2 class="x-text-content-text-primary">2 jeunes, 2 solutions</h2>
            </div>
          </div>
        </div>
        <div class="e395-32 x-text">
          <p style="text-align: justify;"><strong>Le plan «&nbsp;2 jeunes, 2 solutions&nbsp;» a été lancé durant l'été 2020, &nbsp;celui-ci vise à offrir une solution à chaque jeune.</strong> Une initiative de l'Etat pour former, accompagner et faciliter l'insertion professionnelle de tous les jeunes. <strong>Avec plus de 9 milliards d’euros investis</strong>, le gouvernement mobilise un ensemble de leviers notamment les aides à l’embauche, formations, accompagnements, aides financières aux jeunes en difficulté, conseils pour entreprendre, divers événements... L’objectif est de ne laisser personne de côté.</p>
          <p style="text-align: justify;">A chacun sa solution, rendez-vous sur le site <a href="https://www.1jeune1solution.gouv.fr">1jeune1solution</a> pour plus d'informations.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="e395-33 x-section">
    <div class="e395-34 x-container">
      <div class="x-bg" aria-hidden="true"></div>
      <div class="e395-35 x-column x-sm x-1-1">
        <a class="e395-36 x-anchor x-anchor-button" tabindex="0" href="/autofinancement-des-etudes/">
        <div class="x-anchor-content">
          <div class="x-anchor-text">
            <span class="x-anchor-text-primary" data-x-single-anim="x-scale-down">En savoir plus sur l’autofinancement de&nbsp;vos&nbsp;études&nbsp;›</span>
          </div>
        </div></a>
      </div>
    </div>
  </div>
</div>