#mb-3{
    margin-right: 40%;
}

#mg{
    margin-right: 5rem;
}

p,span,li{
    font-size: large;
}

.bgblue{
    background-color: #8AD2FA;
    padding: 30px;
}

.bgblue2{
    background-color: #004080;
    padding: 30px;
}

.bgwhite{
    padding-top: 50px;
    padding-bottom: 50px;
}


span{
    font-family: inherit;
    font-size: 1em;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.035em;
    margin-right: calc(0.035em * -1);
    text-align: center;
    color: rgb(0,64,128);
    box-sizing: border-box;
    border-radius: 1px;
}