

  <div class="container"> 
    <h1 id="titre">Les Campus Estiam En France</h1>

    <br>
    <button *ngIf="isAdmin == 'true'" type="button" class="btn-admin" routerLink="/formulaire">Ajouter un Campus</button> 
    <button *ngIf="isAdmin == 'true'" type="button" class="btn-admin" routerLink="/formmodification">Modifier un Campus</button> 
<br>
  

<div class="row" >
  <div id="card" class="card col-md-4" style="width: 18rem;" *ngFor="let campus of lescampus">
    <div class="card-body">
      <h5 class="card-title text-white">{{campus.name}}</h5> 
      <p class="card-text">{{campus.infos}}</p>
      <p id="adresse" class="card-text"> {{campus.adresse}}</p>   
      
      <button *ngIf="isAdmin == 'true'" type="button" class="btn-modif" onclick="location.reload()" (click)="deleteCampus(campus)" >         
        Supprimer
      </button> 
    </div>
  </div>

</div>
  














