<div class="container md-px-5 px-3">

    <button class="btn btn-secondary mt-5" routerLink="/programmes">Retour</button>
    <h2 class="fw-bold mt-3 text-center">Modification du cours</h2>
    <p *ngIf='!showLoading' class="text-secondary text-center">Identifiant unique: {{cours._id}}</p>

    <div class="row">
        <div *ngIf='showLoading' class="col-6 mx-auto p-4 estiamBackgroundColorLight d-flex flex-column justify-content-center align-items-center mt-5" style="border-radius: 12px;">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="spinner-border estiamCyanText" role="status">
                    <span class="visually-hidden">Récupération des informations ...</span>
                </div>
                <p class="p-0 m-0 mt-2">Récupération des informations ...</p>
            </div>
        </div>
        <form *ngIf='!showLoading'>
            <div class="d-flex flex-column col-6 mx-auto pt-4">
                <div class="mb-3">
                    <label for="coursName" class="form-label">Nom du cours</label>
                    <input required type="text" class="form-control" id="coursName" #name placeholder="Saisissez le nom du cours" value="{{cours.name}}">
                </div>
                <div class="mb-3">
                    <label for="coursEctsCredit" class="form-label">Crédits ECTS du cours</label>
                    <input required type="text" class="form-control" id="coursEctsCredit" #ectsCredits placeholder="Saisissez les crédits ECTS du cours" value="{{cours.ECTSCredit}}">
                </div>
                <div class="mb-3">
                    <label for="coursECTSCode" class="form-label">Code ECTS du cours</label>
                    <input required type="text" class="form-control" id="coursEctsCredit" #ectsCode placeholder="Saisissez le code ECTS du cours" value="{{cours.ECTSCode}}">
                </div>
                <div class="mb-3">
                    <label for="coursOldCode" class="form-label">Ancien du cours</label>
                    <input required type="text" class="form-control" id="coursOldCode" #oldCode placeholder="Saisissez l'ancien code du cours" value="{{cours.oldCode}}">
                </div>
                <div class="mb-3">
                    <label for="coursSemestre" class="form-label">Semestre du cours</label>
                    <input required type="text" class="form-control" id="coursSemestre" #semestre placeholder="Saisissez le semestre du cours" value="{{cours.semestre}}">
                </div>
                <div class="mb-3">
                    <label for="coursDuration" class="form-label">Durée du cours</label>
                    <input required type="text" class="form-control" id="coursDuration" #duration placeholder="Saisissez la durée du cours" value="{{cours.duration}}">
                </div>
                <div class="estiamBackgroundColorLight p-3 d-flex flex-row justify-content-start align-items-top" style="border-radius: 12px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24" fill="none" stroke="#0099E6" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="m-0 p-0"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>
                    <p class="m-0 p-0 ms-2 estiamCyanText">Pour associer ce cours à un autre programme ou groupe, veuillez le supprimer puis le recréer dans le programme ou groupe souhaité.</p>
                </div>
                <div class="d-flex flex-row justify-content-center align-items-center gap-2">
                    <button type="submit" class="btn btn-primary mt-3" onclick="window.location.href='/programmes'" (click)="updateCours(name.value, ectsCredits.value, ectsCode.value, oldCode.value, semestre.value, duration.value)">Enregistrer les modifications</button>
                    <button type="button" class="btn btn-danger mt-3" data-toggle="modal" data-target="#deleteModal">Supprimer ce cours</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" data-backdrop="static" data-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Suppression du cours</h5>
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Fermer"></button>
        </div>
        <div class="modal-body">
            Êtes-vous sûr de vouloir supprimer ce cours ?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            <button class="btn btn-danger" onclick="window.location.href='/programmes'" (click)="deleteCours(cours._id)">Supprimer</button>
        </div>
      </div>
    </div>
  </div>