
<ul class="">
    <li *ngFor="let entreprise of entreprises">
        <div style="display: flex; flex-direction: row; justify-content: start; align-items: center; margin-top: 10px;">
            {{entreprise.name}}
            <button (click)="deleteEntreprise(entreprise)" style="">
                Supprimer
            </button>
        </div>
    </li>
</ul>

<div>
  <label for="new-hero">Nom de l'entreprise: </label>
  <input id="new-hero" #entrepriseName />

  <!-- (click) passes input value to add() and then clears the input -->
  <button class="add-button" (click)="addEntreprise(entrepriseName.value); entrepriseName.value=''">
    Ajouter l'entreprise
  </button>
</div>


<div style="margin-top: 50px;">
    <h2>Modifier une entreprise :</h2>
    <select name="" id="" #selectedEntreprise>
        <option value="" disabled selected>Sélectionnez une entreprise</option>
        <option *ngFor="let entreprise of entreprises" value="{{entreprise._id}}">{{entreprise.name}}</option>
    </select>
    <input id="new-name" #newEntrepriseName />

    <!-- (click) passes input value to add() and then clears the input -->
    <button class="" (click)="updateEntreprise(newEntrepriseName.value, selectedEntreprise.value); entrepriseName.value=''">
        Modifier l'entreprise
    </button> 
</div>
