<h1>Paiements :</h1>
<ul class="">
    <li *ngFor="let paiement of paiements">
            <h2>Exemple</h2>
            <h3>nom : {{paiement.exemple.nom}}</h3>
            <p>info : {{paiement.exemple.info}}</p>

            <h2>Prix Annuel</h2>
            <h3>titre : {{paiement.prixAnnuel.titre}}</h3>
            <p>prix : {{paiement.prixAnnuel.prix}}</p>
            <p>details : {{paiement.prixAnnuel.details}}</p>
            
            <h2>Frais Mobilite</h2>
            <h3>titre : {{paiement.fraisMobilite.titre}}</h3>
            <p>prix : {{paiement.fraisMobilite.prix}}</p>
            <p>details : {{paiement.fraisMobilite.details}}</p>

            <h2>PaiementEchelonne</h2>
            <h3>titre : {{paiement.paiementEchelonne.titre}}</h3>
            <p>prix : {{paiement.paiementEchelonne.prix}}</p>
            <p>details : {{paiement.paiementEchelonne.details}}</p>
            <div>
                <button (click)="deletePaiement(paiement)">supprimer</button>
            </div>
    </li>
</ul>


<button (click)="addPaie()">ADD</button>