<h1>Paiements :</h1>
<div *ngIf="true">
   <div class="container" *ngFor="let n of numSequence(paiements.length) let i = index;">
      <div class="row">
         <div class="col-md-3">
            prix Annuel
         </div>
         <div class="col-md-3" *ngFor="let paiement of paiements | slice:i*3:i*3+3;">
            <div class= paiement-titre>
               <p class= paiement-text-titre>
                  {{paiement.prixAnnuel.titre}}
               </p>
            </div>
            <div class= paiement-infos>
                <p class="paiement-prix">
                    {{paiement.prixAnnuel.prix}}€
                 </p>
                 <p class=paiement-details>
                    {{paiement.prixAnnuel.details}}
                 </p>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-3">
            frais Mobilite
         </div>
         <div class="col-md-3" *ngFor="let paiement of paiements | slice:i*3:i*3+3;">
            <div class= paiement-titre>
               <p class= paiement-text-titre>
                  {{paiement.fraisMobilite.titre}}
               </p>
            </div>
            <div class="paiement-infos">
                <p class="paiement-prix">
                    {{paiement.fraisMobilite.prix}}€
                 </p>
                 <p class=paiement-details>
                    {{paiement.fraisMobilite.details}}
                 </p>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-3">
            frais Mobilite International
         </div>
         <div class="col-md-3" *ngFor="let paiement of paiements | slice:i*3:i*3+3;">
            <div class= paiement-titre>
               <p class= paiement-text-titre>
                  {{paiement.fraisMobiliteInternational.titre}}
               </p>
            </div>
            <div class="paiement-infos">
                <p class="paiement-prix">
                    {{paiement.fraisMobiliteInternational.prix}}€
                 </p>
                 <p class=paiement-details>
                    {{paiement.fraisMobiliteInternational.details}}
                 </p>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-3">
            paiement Echelonne
         </div>
         <div class="col-md-3" *ngFor="let paiement of paiements | slice:i*3:i*3+3;">
            <div class= paiement-titre>
               <p class= paiement-text-titre>
                  {{paiement.paiementEchelonne.titre}}
               </p>
            </div>
            <div class="paiement-infos">
                <p class="paiement-prix">
                    {{paiement.paiementEchelonne.prix}}€
                 </p>
                 <p class=paiement-details>
                    {{paiement.paiementEchelonne.details}}
                 </p>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-3">
            Exemple
         </div>
         <div class="col-md-3" *ngFor="let paiement of paiements | slice:i*3:i*3+3;">
            <div class="paiement-exemple">
               <p class= paiement-nom font-weight-bold>
                  {{paiement.exemple.nom}}
               </p>
               <p class="paiement-info ">
                  {{paiement.exemple.info}}
               </p>
            </div>
         </div>
      </div>
      <hr>
   </div>
</div>
<div *ngIf="true">
   <ul class="">
      <li *ngFor="let paiement of paiements">
         <h2>Exemple</h2>
         <h3>nom : {{paiement.exemple.nom}}</h3>
         <p>info : {{paiement.exemple.info}}</p>
         <h2>Prix Annuel</h2>
         <h3>titre : {{paiement.prixAnnuel.titre}}</h3>
         <p>prix : {{paiement.prixAnnuel.prix}}</p>
         <p>details : {{paiement.prixAnnuel.details}}</p>
         <h2>Frais Mobilite International</h2>
         <h3>titre : {{paiement.fraisMobiliteInternational.titre}}</h3>
         <p>prix : {{paiement.fraisMobiliteInternational.prix}}</p>
         <p>details : {{paiement.fraisMobiliteInternational.details}}</p>
         <h2>Frais Mobilite</h2>
         <h3>titre : {{paiement.fraisMobilite.titre}}</h3>
         <p>prix : {{paiement.fraisMobilite.prix}}</p>
         <p>details : {{paiement.fraisMobilite.details}}</p>
         <h2>PaiementEchelonne</h2>
         <h3>titre : {{paiement.paiementEchelonne.titre}}</h3>
         <p>prix : {{paiement.paiementEchelonne.prix}}</p>
         <p>details : {{paiement.paiementEchelonne.details}}</p>
         <div>
            <button (click)="deletePaiement(paiement)">supprimer</button>
            <a routerLink="/detail/{{paiement._id}}">
            Modifier
            </a>
         </div>
      </li>
   </ul>
   <a routerLink="/creation">
   Créer
   </a>
</div>