<!-- Slideshow container -->
<div class="container">

    <h2 class="text-center fs-1 fw-bold">Bienvenue dans votre école informatique et du numérique</h2>
    <p class="text-center fs-5">Parcourez cette brochure pour en découvrir plus sur l'ESTIAM et ses cursus.</p>
    <div *ngIf="isAdmin == 'true'"class="alert alert-warning text-center w-auto mx-auto mx-5" role="alert">
      Vous êtes connecté en tant qu'administrateur.
    </div>
    <div class="my-5">
      <p class="fw-bold fs-4">Accès rapide</p>
      <div class="row gap-3">
        <div routerLink="/entreprises" class="col-lg col-12 d-flex flex-row justify-content-start align-items-center p-3 gap-3 fs-5 estiamBackgroundColor" style="border-radius: 12px; color: white; cursor: pointer;">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
            <p class="m-0 p-0">Entreprises partenaires</p>
            <svg xmlns="http://www.w3.org/2000/svg" class="ms-auto" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="9 18 15 12 9 6"></polyline></svg>
        </div>
        <div routerLink="/paiement" class="col-lg col-12 d-flex flex-row justify-content-start align-items-center p-3 gap-3 fs-5 estiamBackgroundColor" style="border-radius: 12px; color: white; cursor: pointer;">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign"><line x1="12" y1="1" x2="12" y2="23"></line><path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path></svg>
          <p class="m-0 p-0">Tarif de la scolarité</p>
          <svg xmlns="http://www.w3.org/2000/svg" class="ms-auto" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="9 18 15 12 9 6"></polyline></svg>
        </div>
        <div routerLink="/programmes" class="col-lg col-12 d-flex flex-row justify-content-start align-items-center p-3 gap-3 fs-5 estiamBackgroundColor" style="border-radius: 12px; color: white; cursor: pointer;">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-code"><polyline points="16 18 22 12 16 6"></polyline><polyline points="8 6 2 12 8 18"></polyline></svg>
          <p class="m-0 p-0">Programmes et spécialités</p>
          <svg xmlns="http://www.w3.org/2000/svg" class="ms-auto" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="9 18 15 12 9 6"></polyline></svg>
        </div>
      </div>
      <div class="row gap-3 mt-4">
        <div routerLink="/campus" class="col-lg col-12 d-flex flex-row justify-content-start align-items-center p-3 gap-3 fs-5 estiamBackgroundColor" style="border-radius: 12px; color: white; cursor: pointer;">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-award"><circle cx="12" cy="8" r="7"></circle><polyline points="8.21 13.89 7 23 12 20 17 23 15.79 13.88"></polyline></svg>
            <p class="m-0 p-0">Campus partenaires</p>
            <svg xmlns="http://www.w3.org/2000/svg" class="ms-auto" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="9 18 15 12 9 6"></polyline></svg>
        </div>
        <div routerLink="/certification" class="col-lg col-12 d-flex flex-row justify-content-start align-items-center p-3 gap-3 fs-5 estiamBackgroundColor" style="border-radius: 12px; color: white; cursor: pointer;">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shield"><path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path></svg>
          <p class="m-0 p-0">Certifications</p>
          <svg xmlns="http://www.w3.org/2000/svg" class="ms-auto" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="9 18 15 12 9 6"></polyline></svg>
        </div>
        <div routerLink="/alternance" class="col-lg col-12 d-flex flex-row justify-content-start align-items-center p-3 gap-3 fs-5 estiamBackgroundColor" style="border-radius: 12px; color: white; cursor: pointer;">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-send"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
          <p class="m-0 p-0">Alternances</p>
          <svg xmlns="http://www.w3.org/2000/svg" class="ms-auto" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="9 18 15 12 9 6"></polyline></svg>
        </div>
      </div>
    </div>
    
    
    <br>
    <div class="slideshow-container1">
    
        <!-- Full-width images with number and caption text -->
        
        <div class="mySlides fad">
          <div class="numbertext">1 / 3</div>
          <img src="../../../assets/img1.jpg" style="width:100%">
          <div class="text">Caption Text</div>
        </div>
      
        <div class="mySlides fad">
          <div class="numbertext">2 / 3</div>
          <img src="../../../assets/img2.jpg" style="width:100%">
          <div class="text">Caption Two</div>
        </div>
      
        <div class="mySlides fad">
          <div class="numbertext">3 / 3</div>
          <img src="../../../assets/img3.jpg" style="width:100%">
          <div class="text">Caption Three</div>
        </div>
      
        <!-- Next and previous buttons -->
        <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
        <a class="next" (click)="plusSlides(1)">&#10095;</a>
      </div>
      <br>
      
      <!-- The dots/circles -->
      <div style="text-align:center">
        <span class="dot" (click)="currentSlide(1)"></span>
        <span class="dot" (click)="currentSlide(2)"></span>
        <span class="dot" (click)="currentSlide(3)"></span>
      </div>
      
    
</div>

