<div class="container md-px-5 px-3">
    <h1 class="fw-bold mt-4 text-lg-start text-md-end text-center">Programmes et diplômes</h1>
    <p class="md-fs-5 fs-6 mt-3 mb-3 text-md-start text-center">
        Lorem ipsum dolor sit amet. Ex provident omnis nam galisum sint non omnis maiores qui consequatur alias et quia dolor. Sed odio culpa qui accusamus aperiam inventore laudantium. Eum iusto nesciunt in natus quos in nulla molestias sed autem voluptas sed veritatis inventore? Ut soluta expedita ex maxime a iste rerum aut vero vero. Ut fuga odio hic nobis praesentium ex natus ullam est dolores quia ut placeat fuga id inventore omnis. Ut necessitatibus modi et voluptas dolor ut similique veniam non itaque dolores. Nemo dolores id sunt earum non internos aperiam cum laboriosam quod sed quod ipsum.
    </p>
    <app-programme-year></app-programme-year>
</div>
