    <nav class="navbar navbar-expand-lg navbar-light" id="nv1" >
      <img routerLink="#" class="estiam-logo" src="../assets/logo-white.png">
      <div class="container-fluid" >   
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
           <table id="menu">
            <tr>
               <td> 
                    <a class="nav-link" routerLink="/programmes"><span class="nv3" id="pgr">
                      <i class="far fa-clipboard"></i>  Le Programme 
                     <i class="fa fa-chevron-down"></i></span></a>
              </td>    
                <td>
                  <ul class="td">
                    <li>
                      <a class="nav-link" routerLink="/alternance"><span class="nv3">
                        <i class="fas fa-suitcase"></i> Alternace <i class="fa fa-chevron-down"></i>
                      </span></a>
                      <ul id="item">
                        <li>
                          <a routerLink="/alternance">comment ça marche</a>
                        </li>
                        <li>
                         <a routerLink="/offres">offre d'emploi <br>
                          alternances et stages</a>  
                        </li>
                      </ul>
                    </li>
                  </ul>  
                  </td>
              <td>
                 <a class="nav-link" routerLink="/entreprises"><span class="nv3">
                    <i class="far fa-building"></i> Entreprises <i class="fa fa-chevron-down"></i>
                    </span></a>
              </td>   
              <td>    
                <a class="nav-link" routerLink="#"><span class="nv3">
                 <i class="fas fa-university"></i> Campus <i class="fa fa-chevron-down"></i>
                 </span></a>
              </td> 
              <td>
                <a class="nav-link" routerLink="#"><span class="nv3">
                    <i class="far fa-envelope"></i> Contact <i class="fa fa-chevron-down"></i>
                </span></a>
              </td>
              <td>    
               <a class="nav-link" routerLink="/paiement"><span class="nv3">
                <i class="fas fa-euro-sign"></i> Tarif <i class="fa fa-chevron-down"></i>
                </span></a>
             </td>    
             <td>    
              <a class="nav-link" routerLink="#"><span class="nv3">
               <i class="far fa-file-alt"></i> Formulaire <i class="fa fa-chevron-down"></i>
               </span></a>
            </td>   
              <td>
              <a class="nav-link" routerLink="#"><span class="nv3">
                <i class="far fa-user"></i> Login</span></a></td>
           </tr>
           </table>
          </div>
        </div>
      </div>
      <div class="social">
       
  </div>
</nav>
