<nav class="navbar navbar-expand-lg navbar-light" id="nv2">
  <div class="container-fluid">   
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" >
        <a class="nav-link" href="https://www.estiam.education/nos-campus/paris/">
          <span class="nv" id="ps">PARIS </span></a>
        <a class="nav-link" href="https://www.estiam.education/nos-campus/saint-denis/">
          <span class="nv">SAINT-DENIS </span></a>
        <a class="nav-link" href="https://www.estiam.education/nos-campus/melun-2/">
          <span class="nv">MELUN </span></a>
        <a class="nav-link" href="https://www.estiam.education/nos-campus/bourges/">
          <span class="nv">BOURGES </span></a>
        <a class="nav-link" href="https://www.estiam.education/nos-campus/lyon/">
          <span class="nv">LYON</span></a>
        <a class="nav-link" href="https://www.estiam.education/nos-campus/metz/">
          <span class="nv">METZ </span></a>
        <a class="nav-link" href="https://www.estiam.education/nos-campus/geneva/">
          <span class="nv">GENÉVE </span></a>
        <a class="nav-link" href="https://www.estiam.education/nos-campus/tarbes/">
          <span class="nv">TARBES </span></a>
        <a class="nav-link" href="https://www.estiam.education/nos-campus/washington/">
          <span class="nv">WASHINGTON DC </span></a>
        
        <a class="nav-link" href="https://www.estiam.education/nos-campus/bangalore/">
          <span class="nv">BANGALORE </span></a>
      </div>
    </div>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light" id="nv1" >
    <div class="container-fluid" >   
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="#"><strong>ést<span id="i">i</span>am</strong></a>
         <table id="menu">
          <tr>
             <td> 
                  <a class="nav-link" routerLink="#"><span class="nv3" id="pgr">
                    <i class="far fa-clipboard"></i>  Le Programme 
                   <i class="fa fa-chevron-down"></i></span></a>
            </td>    
              <td>
                <ul class="td">
                  <li>
                    <a class="nav-link" routerLink="/alternance"><span class="nv3">
                      <i class="fas fa-suitcase"></i> Alternace <i class="fa fa-chevron-down"></i>
                    </span></a>
                    <ul id="item">
                      <li>
                        <a routerLink="/alternance">comment ça marche</a>
                      </li>
                      <li>
                       <a routerLink="/offres">offre d'emploi <br>
                        alternances et stages</a>  
                      </li>
                    </ul>
                  </li>
                </ul>  
                </td>
            <td>
               <a class="nav-link" routerLink="#"><span class="nv3">
                  <i class="far fa-building"></i> Entreprises <i class="fa fa-chevron-down"></i>
                  </span></a>
            </td>   
            <td>    
              <a class="nav-link" routerLink="#"><span class="nv3">
               <i class="fas fa-university"></i> Campus <i class="fa fa-chevron-down"></i>
               </span></a>
            </td> 
            <td>
              <a class="nav-link" routerLink="#"><span class="nv3">
                  <i class="far fa-envelope"></i> Contact <i class="fa fa-chevron-down"></i>
              </span></a>
            </td>
            <td>    
             <a class="nav-link" routerLink="#"><span class="nv3">
              <i class="fas fa-euro-sign"></i> Paiement <i class="fa fa-chevron-down"></i>
              </span></a>
           </td>    
           <td>    
            <a class="nav-link" routerLink="#"><span class="nv3">
             <i class="far fa-file-alt"></i> Formulaire <i class="fa fa-chevron-down"></i>
             </span></a>
          </td>   
            <td>
            <a class="nav-link" routerLink="#"><span class="nv3">
              <i class="far fa-user"></i> Login</span></a></td>
         </tr>
         </table>
        </div>
      </div>
    </div>
    <div class="social">
     
</div>
</nav>
