.paiement-infos{
    background-color: #0099E6;
    padding: 3%;
    
    margin-bottom: 5%;
}

.paiement-prix{
    font-weight: bold;
    font-size: xx-large;
    width: 100%; 
    padding: 5px; 
    box-sizing:border-box
}


.table-title{
    font-weight: bold;
    font-size: medium;
    color: white;
    margin: 0;
    background-color: #004080;
    padding-left: 3%;
}

.paiement-nom{
    
    font-weight: bold;
    font-size: larger;
    
}



.paiement-exemple{
    background-color: #0099E6;
    padding: 3%;
    margin-bottom: 5%;
}

.paiement-details{
    margin: 0;
    font-size: small;
    margin-top: 5px;
    width: 100%; 
    padding: 5px; 
    box-sizing:border-box
}

.paiement-text-titre{
    font-weight: bold;
    font-size: large;
    margin: 0;
}
.paiement-titre{
    background-color:#004080;
    padding: 3%;
}

@media (max-width:750px) {
    .row-5 {
       display: block;
    }
 }

.col-md-6{
    margin-top: 3%;
}
.col-md-3{
    margin-top: 3%;
}

.paiement-info{
    width: 100%; 
    margin-top: 5px;
    padding: 5px; 
    box-sizing:border-box
}

 .card{
     background-color: #0099E6;
     margin-bottom: 3%;
 }

 .admin-button{
     padding: 8%;
 }

 .buttonPaiement {
    background-color: #0099E6;
    margin: 2%;
    border: none;
    
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
