@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}

a{
    color: white;
    text-decoration: none;
    font-size: large;
}

li{
    margin: 10px;
}

.navbar{
    margin-bottom: 50px;
}

.dropdown-menu{
    background-color:  #004080;
    padding: 10px;
}

.btn-co {
    background-color: #004080;
    margin: 2%;
    border: none;
    color: white;
    padding: 15px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .btn-co:hover {
    background-color: white;
    color: #004080;

  }