<nav class="navbar navbar-expand-md navbar-dark estiamBackgroundColor">
    <div class="container md-px-5">
        <a class="navbar-brand" href="#">
            <img src="../../assets/logo-white.png" class="d-block" style="width: 170px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav md-ms-0 ps-2">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/programmes">Programmes et diplômes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/paiement">Tarif</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/entreprises">Entreprises</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Page 4</a>
                </li>
            </ul>
        </div>
    </div>
</nav>