<nav class="navbar navbar-expand-md navbar-dark estiamBackgroundColor">
    <div class="container md-px-5">
        <a class="navbar-brand" href="#">
            <img src="../../assets/logo-white.png" class="d-block" style="width: 170px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav md-ms-0 ps-2">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/programmes">Programmes et diplômes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown"> Alternance </a>
                    <ul class="dropdown-menu">
                        <li><a routerLink="/alternance">comment ça marche</a></li>
                        <li><a routerLink="/offres">offre d'emploi <br>
                            alternances et stages</a> </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/entreprises">Entreprises</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="">Campus</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/paiement">Tarif</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="">Formulaire</a>
                </li>
            </ul>
            <button *ngIf="isAdmin == 'true'" class="ms-auto" (click)="disconnectUser()">Déconnexion</button>
            <button *ngIf="isAdmin == 'false'" class="ms-auto" routerLink="/admin-log-in">Connexion</button>
            <!-- <button *ngIf="isAdmin == 'false'" >Déconnexion</button> -->
        </div>
    </div>
</nav>